<div class="d-flex justify-content-center">
    <%= render "shared/errors", obj: @article %>
</div>

<div class="p-5 mb-2 myedit-jumbotron rounded-2">
    <%= form_with(model: @article, local: true) do |f| %>
        <div class="row mb-3">
            <%= f.label :title, class: "col-sm-2 col-form-label text-light fw-bolder fs-5" %><br/>
            <div class="col-sm-15">
                <%= f.text_field :title, class: "form-control" %>
            </div>
        </div>

        <div class="row mb-3">
            <%= f.label :description, class: "col-sm-2 col-form-label text-light fw-bolder fs-5" %><br/>
            <div class="col-sm-15">
                <%= f.text_area :description, rows: 6, class: "form-control" %>
            </div>
        </div>

        <p class="text-center">
            <%= f.submit class: "btn btn-success" %>
        </p>
</div>

<% end %> 