
<div class="text-center mt-5">
    <h1>Listing All Articles</h1>
    <br>
    <%= link_to 'Add new articles', new_article_path, class: "btn btn-dark btn-lg text-light" %>
</div>


<% @articles.each do |article| %>
    <div class="card custom-card text-center my-5 shadow">
        <div class="card-header">
            by <%= article.user.username %>
            <br>
            <%= article.user.email %>
        </div>
        <div class="card-body">
            <h5 class="card-title text-primary fw-bolder fs-1"><%= article.title %></h5>
            <p class="card-text"><%= article.description %></p>
            <div class="choose-btn d-flex justify-content-center">
                <%= link_to 'View', article_path(article),class: "btn btn-success mx-1" %>
                <%= link_to 'Edit', edit_article_path(article),class: "btn btn-primary mx-1" %>
                <%= button_to 'Delete', article_path(article),class: "btn btn-danger mx-1", method: :delete %>
            </div>
        </div>
        <div class="card-footer text-muted">
            <small>Created <%= article.created_at %> ago</small>
            <small>Edited <%= article.updated_at %> ago</small>
        </div>
    </div>
<% end %>

