<div class="text-center mt-5 text-light">
    <h1>Article details</h1>
</div>

<div class="card custom-card text-center h-50 my-5 shadow">
    <div class="card-header font-italic">
        by <%= @article.user.username if @article.user %>
        <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
    </div>
    <div class="card-body">
        <div class="card-text text-left"><%= simple_format(@article.description) %></div>
        <div class="choose-btn d-flex justify-content-center">
            <% if logged_in? && @article.user == current_user %>
                <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
                <%= button_to "Delete", article_path(@article), class: "btn btn-outline-danger", data: { turbo_confirm: 'message' }, method: :delete %>
            <% end %>
        </div>
    </div>
    <div class="card-footer text-muted">
        <small>Created <%= @article.created_at %> ago</small>
        <small>Edited <%= @article.updated_at %> ago</small>
    </div>
</div>

<div class="mb-5 text-center">
    <%= link_to '[Return to articles listing]', articles_path %>
</div>
